---
import "../styles/globals.css";

const topLine = new Array(100).fill(() => null);
---

<div class="relative w-[400px] h-1" id="top">
  {
    topLine.map((_, index) => (
      <div
        id={`top-${index}`}
        style={{
          transform: `translateX(${4 * index}px)`,
        }}
        class="absolute bg-white w-1 h-1"
      />
    ))
  }
</div>

<script>
  import studio from "@theatre/studio";
  import { getProject, types } from "@theatre/core";

  studio.initialize();

  const project = getProject("First animation test");
  const sheet = project.sheet("Sheet 1");
  let obj = sheet.object("Top", {
    x: 500,
    y: 500,
    rotation: types.number(0, { range: [0, 1] }),
  });

  const objElement = document.getElementById(`top`);
  obj.onValuesChange((obj) => {
    if (!objElement) return;
    objElement.style.transform = `translateY(${obj.y}px) translateX(${obj.x}px) rotate(${obj.rotation}turn)`;
  });

  project.ready.then(() => {
    sheet.sequence.play({ iterationCount: 1 });
  });
</script>
