---
import BaseLayout from "@/layouts/BaseLayout.astro";
import resume from "../assets/resume.json";

const { interests } = resume;
---

<BaseLayout>
  <div class="max-w-[600px]">
    <h2 class="mb-4 text-2xl font-bold">Interests</h2>
    <ul class="mt-5 list-inside list-disc">
      {
        interests.map((interest) => (
          <li class="text-sm dark:text-white ">{interest.name}</li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
