---
interface Props {
  interests: {
    name: string;
  }[];
}

const { interests } = Astro.props;
---

<div>
  <h2 class="mb-8 text-2xl font-bold text-gray-700 dark:text-white">
    Interests
  </h2>
  <ul class="mt-4 list-inside list-disc sm:px-8">
    {
      interests.map((interest) => (
        <li class="mt-2 text-sm dark:text-white">{interest.name}</li>
      ))
    }
  </ul>
</div>
