---
import resume from "../assets/resume.json";

const { interests } = resume;
---

<div>
  <h2 class="mb-4 text-2xl font-bold">Interests</h2>
  <ul class="mt-4 list-inside list-disc">
    {
      interests.map((interest) => (
        <li class="text-sm dark:text-white">{interest.name}</li>
      ))
    }
  </ul>
</div>
