---
import { House, BriefcaseBusiness, BookOpenCheck, Heart } from "lucide-react";
---

<div class="flex-col justify-center pl-8 flex" transition:name="menu">
  <a href="/" class="mb-8 w-min"> <House /></a>
  <a href="/experiences" class="mb-8 w-min">
    <BriefcaseBusiness />
  </a>
  <a href="/educations" class="mb-8 w-min">
    <BookOpenCheck />
  </a>
  <a href="#interests" class="mb-8 w-min">
    <Heart />
  </a>
</div>
