---
import { House, BriefcaseBusiness, BookOpenCheck, Heart } from "lucide-react";

const currentPath = Astro.url.pathname;

const links = [
  {
    href: "/",
    icon: House,
    color:
      "bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-yellow-500 animate-pulse duration-2000 via-yellow-900 blur-sm",
  },
  {
    href: "/experiences",
    icon: BriefcaseBusiness,
    color:
      "bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-indigo-500 via-indigo-900 animate-pulse duration-2000 blur-sm ",
  },
  {
    href: "/education",
    icon: BookOpenCheck,
    color:
      "bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-orange-500 via-orange-900 animate-pulse duration-2000 blur-sm ",
  },
  {
    href: "/interests",
    icon: Heart,
    color:
      "bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-emerald-500 via-emerald-900 animate-pulse duration-2000 blur-sm",
  },
];

const isActive = (href: string, index: number) => {
  if (index === 0) {
    return currentPath === href;
  }
  return currentPath.includes(href);
};
---

<nav class="md:flex-col justify-center md:pl-8 flex" transition:name="menu">
  {
    links.map((link, index) => (
      <a
        href={link.href}
        class="mb-8 w-min rounded-full p-2 relative cursor-pointer"
        transition:name={link.href}
      >
        {isActive(link.href, index) && (
          <div
            class="absolute inset-0  border-primary/60 rounded-full "
            transition:name={`active-page`}
          >
            <div class={`absolute inset-1 ${link.color} rounded-full `} />
          </div>
        )}
        <link.icon
          className={`h-5 w-5 relative z-10 text-primary `}
          strokeWidth={1}
        />
      </a>
    ))
  }
</nav>
