---
import type { SkillType } from "../types.ts";

interface Props {
  skills: SkillType[];
}

const { skills } = Astro.props;
---

<div class="sm:text-end">
  {
    skills.map((skill) => (
      <div class="mb-10">
        <h2 class="text-md mb-2 font-bold text-gray-700 dark:text-gray-400">
          {skill.name}
        </h2>
        <p class="text-sm dark:text-white">{skill.keywords.join(", ")}</p>
      </div>
    ))
  }
</div>
