---
import type { SkillType } from "../types.ts";

interface Props {
  skills: SkillType[];
}

const { skills } = Astro.props;
---

<div class="grid grid-cols-3 gap-5">
  {
    skills.map((skill) => (
      <div class="mb-10">
        <h2 class="text-md mb-2 font-bold ">{skill.name}</h2>
        {skill.keywords.map((keyword) => (
          <p class="text-sm dark:text-white">{keyword}</p>
        ))}
      </div>
    ))
  }
</div>
