---
import Menu from "../components/Menu.astro";
import "../styles/globals.css";
import type { BasicsType } from "../types.ts";
import resume from "../assets/resume.json";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { ViewTransitions, fade } from "astro:transitions";
const { basics } = resume;

const anim = {
  old: {
    name: "bump",
    duration: "0.5s",
    easing: "ease-in",
    direction: "reverse",
  },
  new: {
    name: "bump",
    duration: "0.5s",
    easing: "ease-in-out",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body class="h-screen bg-background" transition:name="hero">
    <div class="flex justify-center items-center h-screen">
      <div transition:name="card">
        <slot />
      </div>
      <Menu isDark={true} toggleDark={() => null} />
    </div>
  </body>
</html>
